
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="projects-section" id="projects">
        <div class="container">
            <h2>Projects</h2>
            <div class="project-wrapper">
                {% for project in project_list %}
                    <div class="project-block glass-card">
                        {% if project.preview %}
                            <img class="project-photo" src="{{ project.preview }}" alt="Photo of {{ project.title }}">
                        {% else %}
                            <img class="project-photo" src="{% static 'img/example.png' %}" alt="Default Project Photo">
                        {% endif %}
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                    </div>
                {% empty %}
                    <div class="project-block glass-card">
                        <img class="project-photo" src="{% static 'img/example.png' %}" alt="Coming Soon">
                        <h3>Coming Soon</h3>
                        <p>Coming very soon</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}